body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 149px; /* adjust the height according to your needs */
    background-size: cover;
    background-position: center;
}

.head1 {
    font-size: 40px;
    font-family: Forte;
    background: -webkit-radial-gradient(#a59f9f, #8199a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-background-clip: text;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

nav {
    background-color: rgba(204, 203, 203, 0.863);
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #b4b7b8, rgba(204, 203, 203, 0.863) );
    z-index: 1; /* add this line */
    position: sticky;
    margin-top: 5px;
  
  }
  .nav__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 19px;
    font-variant: small-caps;
    font-weight: 700;
  }
  
  .nav__links li {
    margin-right: 20px;
    padding: 0px 10px;
  }
  
  .nav__links a {
    text-decoration: none;
    color: black;
  }
  
  .nav__links a:hover {
    color: #8199a5;
  }
  
  .nav__links a.active {
    color: #8199a5;
  }


  @media (max-width: 1200px) {
    /* Desktop styles */
    .header {
      height: 80vh;
    }
    .head1 {
      font-size: 2.5vw;
    }
    .nav__links li {
      margin-right: 10px;
    }
  }
  
  @media (max-width: 992px) {
    /* Tablet styles */
    .header {
      height: 60vh;
    }
    .head1 {
      font-size: 2vw;
    }
    .nav__links li {
      margin-right: 5px;
    }
  }
  
  @media (max-width: 768px) {
    /* Mobile styles */
    .header {
      height: 40vh;
    }
    .head1 {
      font-size: 1.5vw;
    }
    .nav__links {
      flex-direction: column; /* Stack links vertically on mobile */
    }
    .nav__links li {
      margin-right: 0;
    }
    .nav__links a {
      padding: 0.5em;
    }
  }
  
  @media (max-width: 480px) {
    /* Small mobile styles */
    .header {
      height: 30vh;
    }
    .head1 {
      font-size: 1vw;
    }
  }
  



  